<div class="page-header">
  <h1> <%= I18n.t("activerecord.attributes.user.show") %> </h1>
</div>
<div class="page-body">
  <% if notice %>
    <p style="color: green"><%= notice %></p>
  <% end %>

  <%= render @user %>

  <div class="form-submit">
    <%= button_to I18n.t("activerecord.attributes.user.new"), new_user_path %>
  </div>
</div>
